.portfolio-card {
    padding: 100px 50px;
}
.portfolio-card__link {
    position: relative;
    transition: transform 0.3s ease-in;
}
.portfolio-card__info img {
    width: 28px;
}
.portfolio-card__info span {
    line-height: 28px;
    vertical-align: middle;
}
.portfolio-card__line {
    width: 100px;
    height: 4px;
}
.modal-dialog {
    max-width: none;
}
.portfolio-modal {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0 60px;
}
.modal-title img, .portfolio-modal .modal-description img {
    width: 32px;
}
.in-process-image {
    width: 100%;
}
@media only screen and (max-width: 1199.9px) {
    .portfolio-modal {
        width: 800px;
        padding: 40px 0 40px;
    }
}
@media only screen and (max-width: 991.9px) {
    .portfolio-modal {
        width: 600px;
        padding: 40px 0 40px;
    }
    .in-process-image {
        width: 70%;
    }
}
@media only screen and (max-width: 767.9px) {
    .portfolio-card {
        padding: 30px 20px;
    }
    .portfolio-modal {
        width: 450px;
        padding: 40px 0 40px;
    }
}
@media only screen and (max-width: 575.9px) {
    .portfolio-modal {
        width: 80%;
        padding: 40px 0 40px;
    }
    .in-process-image {
        width: 80%;
    }
}
@media only screen and (max-width: 399.9px) {
    .portfolio-modal {
        width: 90%;
        padding: 40px 0 40px;
    }
    .in-process-image {
        width: 90%;
    }
}
