$scheme-006ca3: rgb(0, 109, 163);
$scheme-00a69a: rgb(0, 166, 154);
$scheme-149b60: rgb(20, 155, 96);
$scheme-da491c: rgb(218, 73, 28);
$scheme-c80a48: rgb(200, 10, 72);
$scheme-b93366: rgb(185, 51, 102);
$scheme-db1521: rgb(219, 21, 33);
$scheme-e68a00: rgb(230, 138, 0);

$primary-font: "Montserrat", san-serif;
$secondary-font: "Montserrat", san-serif; 
